:root {
    --bg-color: #e3c4a8;
    --text-color: #000000;
    --bar-color: #4592af;
    --graph-color: #226089;
    --highlight-color: #;
    --highlight-color-alt: #;
}

body {
    font-family: sans-serif;
    line-height: 1.5;
    font: #000000;
    background-color: #e3c4a8;
}

.GridContainer {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 600px) 1fr;
  grid-template-rows: 1fr minmax(auto, 600px) 2em;
}



.Header {
  grid-column: 2 / span 2;
  grid-row: 1;
}

.BarChart {
  padding: 10px;
  margin: 5px;
  grid-column: 2;
  grid-row: 2;

}

hr {
    display: block;
    grid-column: 2;
    grid-row: 3;
    height: 1px;
    border: 0;
    border-top: 5px solid #000000;
    margin: 0;
    padding: 2px;
}

.BarChart-max {
  display: block;
  grid-column: 3;
  grid-row: 3;
}

.BarChart-bar {
  background-color: #4592af;
  padding: 8px;
  margin: 5px;
  color: #e3c4a8;
  transition-duration: 0.4s;
}

.BarChart-bar:nth-of-type(odd) {
    background: #226089;
}

.BarChart-bar:hover {
    transform: perspective(200px) translate3d(5px, 0, 2px);
    background-color: #000000;

}
